@using TatilSeyahat.Models.Classes
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Blog Sayfası</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>Detaylar</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogId</td>
            <td>@item.Title</td>
            <td><a href="/Admin/DetailsBlog/@item.BlogId" class="btn btn-dark">Detaylar</a></td>
            <td><a href="/Admin/DeleteBlog/@item.BlogId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/UpdateBlog/@item.BlogId" class="btn btn-success">Güncelle</a></td>
        </tr>

    }

</table>

<a href="/Admin/AddBlog" class="btn btn-primary">Kaydet</a>